<ion-header collapse="fade" [translucent]="true" id="principal">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon slot="icon-only" name="reorder-three-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crie uma tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title><img src="https://cdn.pixabay.com/photo/2016/03/31/19/50/checklist-1295319_960_720.png" id="avatar"></ion-card-title>
    </ion-card-header>

    <ion-list lines="full">
      <form [formGroup]="tarefaForm" (ngSubmit)="formSubimit()">
        <ion-item>
          <ion-label position="floating" mode="md" required="true">Titulo</ion-label>
          <ion-input formControlName="titulo" type="text" required=></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" mode="md" required="true">Descrição</ion-label>
          <ion-input formControlName="descricao" type="text" required=></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating" mode="md" required="true">Data Conclusao</ion-label>
          <ion-input formControlName="dataConclusao" type="text" required=></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>Prioridade</ion-label>
          <ion-checkbox formControlName="prioridade"></ion-checkbox>
        </ion-item>
  
        <ion-item *ngIf="edicao == true">
          <ion-label  >Concluído</ion-label>
          <ion-checkbox formControlName="concluido">Teste</ion-checkbox>
        </ion-item>
  
        <ion-row *ngIf="edicao == false">
          <ion-col>
            <ion-button shape="round" type="submit" color="primary" shape="full" expand="block">Criar Tarefa</ion-button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="edicao == true">
          <ion-col>
            <ion-button shape="round" type="submit" color="primary" shape="full" expand="block">Alterar Tarefa</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </ion-card>
</ion-content>
