<ion-header collapse="fade" [translucent]="true" id="principal">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon slot="icon-only" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bem vindo {{ nomeUsuario }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-card">Tarefas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list *ngFor="let tarefa of tarefas">
    <ion-card>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Titulo: {{tarefa.titulo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Descrição: {{tarefa.descricao}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data criação: {{tarefa.dataCriacao}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data conclusão: {{tarefa.dataConclusao}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Prioridade: {{tarefa.prioridade}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Concluido: {{tarefa.concluido}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-card>
  </ion-list>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Pagina inicial" (click)="voltarPaginaInicial()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Pagina inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sair">
      <ion-icon name="exit" (click)="sair()"></ion-icon>
      <ion-label>sair</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 
