<ion-header collapse="fade" [translucent]="true" id="principal">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon slot="icon-only" name="reorder-three-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Olá, {{ nomeUsuario }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  id="main">
  
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-card-title class="text-card">Tarefas</ion-card-title>
          <ion-button color="dark" slot="end" routerLink="/tarefas/formulario">
            <ion-icon name="add-circle-sharp"></ion-icon>
          </ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-item >
      <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
      <ion-label>Concluida</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="close-sharp" slot="start"></ion-icon>
      <ion-label>Não concluida</ion-label>
    </ion-item>
    <ion-item >
      <ion-badge  color="primary" slot="start">1</ion-badge> 
      <ion-label>Prioridade alta</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge color="secondary" slot="start">2</ion-badge>
      <ion-label>Prioridade baixa</ion-label>
    </ion-item>
  </ion-card>


  <ion-card *ngFor="let tarefa of tarefas">
    <ion-card-header>
      <ion-item>
        <ion-icon name="checkmark-sharp" *ngIf="tarefa.concluido == true" slot="end"></ion-icon>
        <ion-icon name="close-sharp"  slot="end" *ngIf="tarefa.concluido == false"></ion-icon>
        <ion-label>
          <ion-card-title >{{tarefa.titulo}} 
            <ion-badge *ngIf="tarefa.prioridade == true" color="primary">1</ion-badge> 
            <ion-badge *ngIf="tarefa.prioridade == false" color="secondary">2</ion-badge>
          </ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      Data criação: {{tarefa.dataCriacao}}
    </ion-card-content>
    <ion-card-content>
      Data de conclusão: {{tarefa.dataConclusao}}
    </ion-card-content>

    <ion-card-content>
      {{tarefa.descricao}}
    </ion-card-content>

    <ion-item>
      <ion-button color="dark" slot="end" (click)=alterarTarefa(tarefa.$key)>
        <ion-icon name="create-sharp" ></ion-icon>
      </ion-button>
      <ion-button color="dark" slot="end" (click)=deleteTarefa(tarefa.$key)>
        <ion-icon name="trash-bin-sharp"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
