
<ion-header collapse="fade" [translucent]="true" id="principal">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)=openFirst()>
        <ion-icon slot="icon-only" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bem vindo {{nomeUsuario}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" id="main">
 
  <ion-toolbar>
    <ion-title size="small">Bem vindo ao gerenciador de tarefas</ion-title>
  </ion-toolbar>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsmS7cJVBdLBySIvaGvFXZqpFzIl6EGItHygBT0Eti0BU4AFwlDJrZZPqlNgX-CnF8KVs&usqp=CAU">
 
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Pagina inicial" (click)="voltarPaginaInicial()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Pagina inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="exit" (click)="sair()"></ion-icon>
      <ion-label>sair</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>